<header class="p-6 flex justify-between items-center mb-8 bg-blue-500">
  <h1 class="text-3xl font-bold text-white">
    Welcome, <%= locals.user.username %>!
  </h1>
  <div class="flex justify-center items-center gap-4">
    <% if (locals.user.isAdmin) { %>
    <button
      class="btn btn-neutral btn-soft"
      onclick="location.href='/addProduct'"
    >
      Add Product
    </button>
    <% } else { %>
    <a class="font-bold text-[3vh]" href="/cart">🛒</a>
    <% } %>
    <button class="btn btn-error btn-soft" onclick="logout()">Logout</button>
  </div>
</header>